{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Dear {{ first_name }}, you need to activate your account.{% endblocktrans %}

{% trans "To activate your profile, follow the link below" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Success in studies!" %}

{% endblock text_body %}

{% block html_body %}
<div class="wrapper" style="
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-image: url(../../../core/static/images/fon1.jpg);
    background-repeat: no-repeat;
    background-size: cover;"
>
    <div class="info-block-wrapper" style="
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                background-color: #fff;
            ">
        <div class="info-block" style="
                padding: 40px 20px;
                width: 310px;
                height: 280px;
                background-color: #ffffff;
                ">
            <div class="header" style="margin-bottom: 30px;">

            </div>
            <p class="mb text" style="
                margin-bottom: 7px !important;
                color: #585b4f;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin: 0;
                    ">{% blocktrans %}Dear {{ first_name }}, you need to activate your account.{% endblocktrans %}</p>
            <p class="mb text" style="
                    margin-bottom: 7px !important;
                    color: #585b4f;
                    font-family: Inter;
                    font-size: 18px;
                    padding-top: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    margin: 0;
                    ">{% translate "To activate your profile, click on the button" %}</p>
            <a
                    class="activate-button"
                    href="{{ protocol }}://{{ domain }}/{{ url|safe }}"
                    target="_blank"
                    style="
                            width: 100%;
                            display: flex;
                            height: 48px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 12px;
                            background: rgba(24,122,114,0.51);
                            font-size: 18px;
                            color: #fff;
                            cursor: pointer;
                            margin: 25px 0;
                            text-decoration: none;
                        "
            >{% translate "Activate" %}</a>
            <p class="mb text" style="
                    margin-bottom: 7px !important;
                    color: #585b4f;
                    font-family: Inter;
                    font-size: 18px;
                    padding-top: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    margin: 0;
                    ">{% translate "Success in studies!" %}</p>
        </div>
    </div>
</div>
{% endblock html_body %}
